*{
	margin-top: 0; padding: 0;  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

html{
	background-image: url("../images/background.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	z-index:-2;
}

.floatLeft{float: left;}
.floatRight{float: right;}
.floatNone{float: none;}
.fullWidth{width: 100%;}
.clearBoth{clear: both;}
.right{margin-right:30px;}

h1 {
	font-family: 'arial';
	font-size:22px;
	color:#25CCFF!important;
	font-weight:100;
	margin-bottom: 10px;
}
h2{
	font-family: 'arial';
	font-size:13px;
	color:#25CCFF!important;
	font-weight:100;
}

p{font-family: 'arial';
	font-size:13px;
	color:#262626;
	margin-bottom: 10px;
	line-height: 22px;
	margin-right:10px;
}

table,tr,td,* {
    font-family: 'arial';
	font-size:13px;
	color:#262626;
	line-height: 22px;  
}
.wrapper{
	width: 989px;
    margin-left: auto;
    margin-right: auto;
}
.contentWrapper{
	float:left;
	width: 530px;
}
.subWrapper{
	float:right;
	width: 394px;
	padding-right:20px;
	padding-left:20px;
}

.logo{
	width:150px;
	height:0px;
	left:-330px;
	position:relative;
	top:-105px;
	float:left;
	z-index:19;
}

.logo img{
 width:350px;
 height:auto;
	
}

#menu {
	font-family: 'roboto_slabbold';
	position:relative;
	font-size:20px;
	top: 390px;	
    height: 70px;
	width:989px;
    background: -webkit-linear-gradient(#9fd83d, #25CCFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9fd83d, #25CCFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9fd83d, #25CCFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#9fd83d, #25CCFF); /* Standard syntax (must be last) */
	z-index:20;
}
.selected{
	background-image: url("../images/menuHover.png");
	color: white;

}

.first {
    top: -370px;
    float: left;
    position: relative;
    left: 40%;
}

ul {
	
	text-align: center;
	display: inline;
	margin: 0;
	list-style: none;
	margin-left:0px;
	margin-top:-2px;
	z-index:20;
}

ul li:hover{
	top:-10px;
}

ul li {
	float: left;
	font-size: 20px;
	display: inline-block;
	position: relative;		
	color:green;
}

ul li a{
	float: left;
	font-size: 19px;
	text-decoration: none;
	color:#f9f9f9!important;
	font-weight:100;	
	padding: 25px 17px;
	text-shadow: 1px 1px #4e9540;
}

.content{
	float:left;
	position:relative;
	width:100%;
	background-color:#f9f9f9!important;
	min-height:400px;
	z-index:100;
	padding: 30px;
	top: 14px;
}

.bottom{
	margin-bottom: 40px;

}

article {
	font-family: 'arial';
	font-size:13px;
	font-weight:normal!important;
	float:left;
	color:#262626; 
}


#footer {
	float:left;
	width:100%;
	height:50px;
	font-family: 'arial'; 
	background-color:#25CCFF;
	margin-bottom:50px;
}

#rectangle {
	width: 75px;
	background-color:#25CCFF;
	float: right;
	font-family: 'arial'; 
	color: white;
	font-size: 13px;
	padding: 4px 0;
	text-align: center;
	text-decoration: none;
}

.footercontent{
	color: white; 
	font-size: 11px;
	margin-left:20px;
	margin-top:20px;
	font-family: 'arial'; 
}

.footerlink, a.footerlink {
	font-size: 11px;
	color: white;
	text-decoration: none;
	margin-top:-20px;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 5px;
  margin: 1px;
  color: white;
}

/*path {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}

.axis {
  shape-rendering: crispEdges;
}
.x.axis line {
  stroke: lightgrey;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
  display: none;
}
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
*/
.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: arial;
    font-size: 13px;
}

svg {
    font: 10px sans-serif;
}
path {
    fill:none;
    stroke:white;
    stroke-width:2px;
}
.axis path, .axis line {
    fill: none;
    stroke: #262626;
    shape-rendering: crispEdges;
}
.brush .extent {
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
.path_models_VW {
    stroke:steelblue;
}
.path_models_Ford {
    stroke:red;
}

.hoverinfo {
	color:#262626;
	text-align: center;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 2px;
}

.node circle {
  fill: steelblue;
  stroke: #fff;
  stroke-width: 2px;
}

text {
  font: 11px sans-serif;
  pointer-events: none;
}

#network{
	float: right;
}